* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation bar */
nav {
    background-color: #333;
    padding: 10px;
}

/* Navigation links */
nav a {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
}

/* Main content */
main {
    max-width: 840px;
    margin: 0 auto;
}

/* Main heading */
h1 {
    color: #1e4174;
}

/* Images inside main */
main img {
    width: 150px;
    height: auto;
    border: 1px solid #333;
    padding: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    float: right;
}

/* Aside styles */
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

/* Image inside aside */
aside img {
    width: 200px;
    height: auto;
}

/* Paragraphs */
p {
    padding: 0;
}

/* Footer */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid #000; /* Example border */
    padding: 1rem;
    background-color: #f0f0f0; /* Example background color */
    color: #333; /* Example text color */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside {
    position: relative;
}

img.profile {
    float: right;
    margin-left: 20px;
}